.b-footer.b-icon.icon-arrow_down
	.b-container
		.footer-copyright
			| © Бизнес-отель «ПаркСити» г. Челябинск.
			br
			| Официальный сайт, 2020
		.footer-development
			.tl-analytics-block(data-tl-component='analytics-block')
				iframe(id='tlFrame0.19074583794470712', name='tlFrame0.19074583794470712', frameborder='0', border='0', allowtransparency='yes', width='88', height='31', scrolling='no', style='max-width: none;')
			// LiveInternet counter
			// /LiveInternet
			a.link-with-icon.link-as-text.b-icon.icon-tl(href='http://www.travelline.ru/', target='_blank', title='Разработка сайтов гостиниц')
				| Разработка и дизайн
				br
				span.link-text TravelLine
		.footer-social
			a.social-item.b-icon.icon-fb(href='https://www.facebook.com/parkcityhotel74/?fref=ts', target='_blank')
			a.social-item.b-icon.icon-instagram_2(href='https://www.instagram.com/parkcity74/', target='_blank')
			a.social-item.b-icon.icon-vk(href='https://vk.com/pch74', target='_blank')
		.footer-weather
		.footer_policy
			a#bx_3218110189_734(href='/upload/iblock/313/Пользовательское соглашение сайта Parkcityhotel.ru.docx', target='_blank') Пользовательское соглашение
			a#bx_3218110189_984(href='/upload/iblock/09a/Публичный договор ПаркСити.doc', target='_blank') Публичный договор оферты
			a#bx_3218110189_735(href='/upload/iblock/613/Политика обработки и защиты персональных данных.docx', target='_blank') Политика обработки персональных данных
			a#bx_3218110189_736(href='/upload/iblock/5ee/Политика конфиденциальности.docx', target='_blank') Политика конфиденциальности
