html
	head
		meta(charset="utf-8")
		title Свадебные услуги
		include inc/head.jade
		include inc/css.jade
	body.b-page.type-custom.lang-ru.page_calendar(style="background-image: url('img/bg.jpg')")
		include inc/header.jade
		
		.b-content
			.b-page-info.b-detail.show-detail
				.b-container
					.events
						.events__top
							.events__top-title Организация свадьбы в Челябинске
							.events__top-banner
								figure
									img(src="img/slider.jpg", alt="")
							//- .events__top-text
							//- 	.text-page
							//- 		p Не секрет, что каждая влюбленная пара хочет, чтобы свадьба прошла по-особенному, как в самой доброй и восхитительной сказке и чтоб этот день возглавил список лучших и незабываемых событий их семейной истории.  Команда Парк-сити с радостью возьмет на себя все заботы по организации Вашего торжества. Мы готовы поддержать любую идею, и пусть Парк-сити станет местом, где зарождаются Ваши семейные традиции!


						.events__list

							- for (let i = 1; i < 5; i++)
								.events__item
									.events__item-img
										img(src="img/events-1.jpg", alt="")
									.events__item-info
										.events__item-title Организация свадьбы в Челябинске
										.events__item-text
											p Не секрет, что каждая влюбленная пара хочет, чтобы свадьба прошла по-особенному, как в самой доброй и восхитительной сказке и чтоб этот день возглавил список лучших и незабываемых событий их семейной истории.  Команда Парк-сити с радостью возьмет на себя все заботы по организации Вашего торжества. Мы готовы поддержать любую идею, и пусть Парк-сити станет местом, где зарождаются Ваши семейные традиции!
										.events__item-bot
											.events__item-price 30 000 руб.
											.events__item-btn
												a(href="#").btn Подробнее



		include inc/footer.jade
		include inc/scripts.jade