html
	head
		meta(charset="utf-8")
		title Главная
		include inc/head.jade
		include inc/css.jade
	body.main
		#page-wr

			#content
				ul
					li
						a(href="main.html" target="_blank") Главная
					li
						a(href="events.html" target="_blank") Свадебные услуги
					li
						a(href="events-one.html" target="_blank") Свадебная услуга
						
		include inc/scripts.jade