.events
	&__item
		display: flex

		&:not(:last-child)
			margin-bottom: 50px
			padding-bottom: 50px
			border-bottom: 1px solid #eee

		&-img
			max-width: 350px
			flex: none
			margin-right: 30px

			img
				display: block

		&-title
			font-size: rem(20)
			margin-bottom: 20px
			font-weight: bold
			color: #d4182d

			a
				text-decoration: none
				color: #d4182d

		&-bot
			display: flex
			align-items: center
			justify-content: space-between
			margin-top: 50px

		&-price
			font-size: rem(22)
			font-weight: 500

		&-btn
			.btn
				padding: 20px 30px


	&__top
		margin-bottom: 150px

		&-title
			font-size: rem(30)
			margin-bottom: 20px
			display: none

		&-banner
			img
				display: block
				width: 100%



.btn, .default-btn
	background-color: #d4182d
	color: #fff
	padding: 10px 20px
	border-radius: 5px
	text-decoration: none
	transition: background .3s ease
	border: 0

	&:hover
		background-color: #ed1c24

.form__submit
	display: flex
	flex-direction: row-reverse
	margin-top: 30px

.slick-slide
	height: auto

.eo__slider-list:not(.slick-initialized) 
	.eo__slide
		&:not(:first-child)
			display: none !important

.events-one

	&__title
		font-size: rem(25)
		margin-bottom: 20px

	&__slider
		margin-bottom: 50px

		.slick-arrow, .slick-prev, .slick-next
			filter: invert(1)



	&__form
		display: flex

		&-cont
			margin-bottom: 50px

		&-title
			font-size: rem(25)
			margin-bottom: 20px

		&-text
			line-height: 1.4

		&-form
			width: 400px
			flex: none
			margin-left: 50px
			background-color: #f8f8f8
			padding: 40px 50px 50px

	&__info
		margin: 50px 0

		.text-page
			max-width: 800px

		&-price 
			font-size: rem(20)
			font-weight: bold

	&__consultation
		padding: 100px
		margin: 100px auto
		max-width: 800px
		background-color: #f8f8f8


		&-title
			font-size: rem(25)
			margin-bottom: 20px
			text-align: center

	&__information
		font-size: rem(25)
		text-align: center
		line-height: 1.4

		.text-page
			max-width: 600px
			margin: 0 auto

		a
			&[href^="tel"]
				text-decoration: none


.form__submit
	flex-direction: column-reverse
	align-items: center

	&-text
		text-align: center
		margin-top: 15px

@media (max-width: 1500px)

	.events__top
		margin-bottom: 70px

	.events-one__consultation
		margin: 60px auto

@media (max-width: 1000px)

	.events__top
		margin-bottom: 50px

	.events__item-img
		max-width: 225px
		margin-right: 20px

	.events__item:not(:last-child)
		margin-bottom: 25px
		padding-bottom: 25px

	.events-one__form
		flex-direction: column

	.events-one__form-form
		margin: 30px 0 0 0

	.events-one__consultation
		padding: 50px


@media (max-width: 667px)

	.events__top-title, .events-one__title, .events-one__form-title
		font-size: 1.4rem

	.events-one__slider
		margin-bottom: 30px
	
	.events__item
		flex-direction: column


		&-img
			max-width: 100%
			margin: 0 0 20px 0

			img
				width: 100%

	.events-one__form-form
		width: 100%

	.events-one__information
		font-size: 1.3rem
		line-height: 1.3
		margin-bottom: 40px

	.events-one__consultation
		margin: 30px 0


	.events-one__form-form
		padding: 20px

	.events-one__consultation
		padding: 20px