.catalog-room
	.category-item
		margin-top: 0

	.b-service
		float: none
		margin-top: 20px

	.category-price
		color: #000

		.price-value
			font-size: rem(20) !important

		.b-icon 
			color: #ED1B23

	.service-item
		margin-right: 20px


.category-image
	&__list

		.slick
			&-list
				margin: 0 -15px
				
			&-slide
				margin: 0 15px


		&.slick-initialized
			.category-image__item
				display: block

		.slick-next
			right: 0
			top: 0
			margin: 0
			z-index: 10

		button
			top: 0
			margin: 0
			height: 100%
			width: 54px
			background: rgba(0, 0, 0, 0.4) !important

		.slick
			&-next
				border-radius: 0 8px 8px 0

				&:before
					content: "→"

			&-prev
				left: 0
				border-radius: 8px 0 0 8px

				&:before
					content: "←"
	&__item
		&:not(:first-child)
			display: none






.category
	&__title
		position: relative
		color: #ED1B23
		font-size: rem(25)
		margin-bottom: 15px
		text-decoration: none
		display: inline-block

		&:after
			content: ''
			display: inline-block
			+size(10px)
			transform: rotate(45deg)
			border-top: 2px solid #ED1B23
			border-right: 2px solid #ED1B23
			margin: 0 0 2px 5px

	&__btn
		margin-top: 28px

	&__area, &__bed
		span
			color: #B5B5B5
			font-size: rem(16)



@media screen and (max-width: 667px)
	
	.more-info
		display: block !important
		margin-top: 10px
		color: #000
		text-decoration: none