$output-bourbon-deprecation-warnings: false
@import "bourbon"
@import "vars"
// @import "base"
@import "_rooms-page.sass"
@import "_restaurant-page.sass"
@import "_conference-page.sass"
@import "functions"

.vacancy__item
	display: flex

	&-img
		width: 300px
		flex: none
		margin-right: 30px

	&-info
		width: 100%

	.vacancy-element
		display: flex

	.element-title
		max-width: 200px
		width: 100%

	.vacancy-details
		&[style*="display: block"]

			~ .js-show-detail-vacancy
				display: none



.b-vacancy 
	.vacancy-element 
		.element-title
			font-weight: 700
			flex: none	


.b-container
	&__top
		&-title

			h1
				text-align: left

	&__info
		display: flex
		padding: 0 10px

		&-img
			flex: none
			margin-right: 20px

			img
				display: block
				border-radius: 8px

			.detail-preview
				text-align: center
				margin-top: 15px


		.info-item
			padding-top: 0 !important


.info-item
	img
		border-radius: 8px

.row-slider
	display: flex
	align-items: center
	margin-bottom: 40px



	&__slider
		width: 50%
		flex: none
		margin-left: 30px

		img
			display: block
			border-radius: 10px


		.slick-next:before, .slick-prev:before
			color: #000

	&:nth-child(odd)
		flex-direction: row-reverse

		.row-slider__slider
			margin: 0 40px 0 0


	.b-button
		height: 53px
		line-height: 51px
		padding: 0 46px

	.button-detail
		display: flex
		justify-content: center

	&.not-slider
		justify-content: center







.travel-list
	.b-icon 
		flex: none
		
	.service-item
		display: flex !important
		justify-content: flex-start

.service-list
	.b-icon
		// display: block
		+size(35px)

		&:before
			display: none 


.b-service:not(.service-list)
	.service-item
		margin-right: 20px

	.b-icon
		display: block
		+size(24px)

		&:before
			display: none 

.icon
	&-wi-fi
		background: url('../new-img/ico-wifi.svg') no-repeat center

	&-restaurant
		background: url('../new-img/ico-coffee.svg') no-repeat center

	&-parking
		background: url('../new-img/ico-parking.svg') no-repeat center

	&-alarm
		background: url('../new-img/ico-clock.svg') no-repeat center

	&-no_smoking
		background: url('../new-img/ico-smoking.svg') no-repeat center

	&-computer
		background: url('../new-img/ico-monitor.svg') no-repeat center

	&-clock
		background: url('../new-img/ico-clock-1.svg') no-repeat center


.icon


	&-wi-fi
		background: url('../new-img/ico-wifi.svg') no-repeat center

	&-restaurant
		background: url('../new-img/ico-coffee.svg') no-repeat center

	&-parking
		background: url('../new-img/ico-parking.svg') no-repeat center

	&-alarm
		background: url('../new-img/ico-clock.svg') no-repeat center

	&-no_smoking
		background: url('../new-img/ico-smoking.svg') no-repeat center

	&-computer
		background: url('../new-img/ico-monitor.svg') no-repeat center

	&-clock
		background: url('../new-img/ico-clock-1.svg') no-repeat center

	&-morkovka
		background: url('../new-img/carrot.svg') no-repeat center

	&-ball
		background: url('../new-img/ball1.svg') no-repeat center

	&-soska
		background: url('../new-img/baby.svg') no-repeat center

	&-cocktail
		background: url('../new-img/cocktail.svg') no-repeat center

	&-beer
		background: url('../new-img/beer.svg') no-repeat center

	&-kaljan
		background: url('../new-img/hookah.svg') no-repeat center

	&-microphone
		background: url('../new-img/microphone.svg') no-repeat center

	&-sound
		background: url('../new-img/audio.svg') no-repeat center

	&-drink, &-water
		background: url('../new-img/water.svg') no-repeat center

	&-planshet
		background: url('../new-img/screen.svg') no-repeat center

	&-projector_ekran
		background: url('../new-img/projector-screen.svg') no-repeat center

	&-projector
		background: url('../new-img/projector.svg') no-repeat center

	&-call
		background: url('../new-img/phone.svg') no-repeat center

	&-umbrella
		background: url('../new-img/icon-umbrella.svg') no-repeat center
	&-umbrella
		background: url('../new-img/icon-umbrella.svg') no-repeat center
	&-flower
		background: url('../new-img/icon-flower.svg') no-repeat center
	&-businessman
		background: url('../new-img/icon-businessman.svg') no-repeat center
	&-taxi
		background: url('../new-img/icon-taxi.svg') no-repeat center
	&-currencyexchange
		background: url('../new-img/icon-currencyexchange.svg') no-repeat center
	&-creditcard
		background: url('../new-img/icon-creditcard.svg') no-repeat center
	&-modern
		background: url('../new-img/icon-modern.svg') no-repeat center
	&-wifi
		background: url('../new-img/icon-wifi.svg') no-repeat center
	&-massage
		background: url('../new-img/icon-massage.svg') no-repeat center
	&-airplane
		background: url('../new-img/icon-airplane.svg') no-repeat center
	&-inmap7
		background: url('../new-img/icon-inmap7.svg') no-repeat center
	&-billiards
		background: url('../new-img/icon-billiards.svg') no-repeat center
	&-newspaper2
		background: url('../new-img/icon-newspaper2.svg') no-repeat center
	&-shoes2
		background: url('../new-img/icon-shoes2.svg') no-repeat center
	&-tablet
		background: url('../new-img/icon-tablet.svg') no-repeat center
	&-hanger
		background: url('../new-img/icon-hanger.svg') no-repeat center
	&-depositbox
		background: url('../new-img/icon-depositbox.svg') no-repeat center
	&-suitcase
		background: url('../new-img/icon-suitcase.svg') no-repeat center
	&-matrioshka
		background: url('../new-img/icon-matrioshka.svg') no-repeat center
	&-cloche
		background: url('../new-img/icon-cloche.svg') no-repeat center
	&-print
		background: url('../new-img/icon-print.svg') no-repeat center
	&-booking
		background: url('../new-img/icon-booking.svg') no-repeat center
	&-ivisa
		background: url('../new-img/icon-ivisa.svg') no-repeat center



.preview-item.b-icon
	background: none

.b-category .category-price
	margin-bottom: 0

.category__area
	margin-top: 20px

.b-detail 
	.detail-price
		display: block

		.price-value
			font-size: rem(20)

	.detail-button
		display: block
		margin: 40px 0
		text-align: left



.dop_color
	color: #B5B5B5

.mobile-link
	display: none
	
.footer-copyright
	margin-bottom: 20px

	a
		color: #fff

.category-image__list.slick-slider
	margin: 0

.b-content
	padding-top: 130px

.detail-text
	.b-icon
		position: relative
		float: left
		margin-right: 20px
		cursor: pointer
		font-size: 24px

		.item-text
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			font-size: 0
		a 
			display: block

.b-detail 

	.detail-text
		margin-bottom: 0

.event
	&-cont

	&-slider


	&-text
		// max-width: 700px
		margin-bottom: 30px

.events
	&-slider

		&__date
			position: absolute
			bottom: 25px
			left: 25px
			padding: 9px 17px 10px
			background: #ED1B23
			font-size: rem(12)
			color: #fff
			border-radius: 5px
			line-height: 1

		.slider-image
			img
				display: block
				width: 100%

		.slick
			&-dots
				display: none !important

			&-list
				margin: 0 -10px

			&-slide
				position: relative
				margin: 0 10px

			&-prev
				left: 0
				top: 0
				margin: 0
				z-index: 10

				&:hover
					background: rgba(#000, .4)

			&-next
				right: 0
				top: 0
				margin: 0
				z-index: 10

				&:hover
					background: rgba(#000, .4)


		button
			height: 100%
			width: 54px
			background: rgba(#000, .4) !important




.b-slider.slider-offers 
	.slick
		&-prev 
			left: -25px
			transform: rotate(180deg)
		&-next
			right: -25px

		&-next, &-prev
			&:before, &:before
				content: "→"
				color: #000


.b-slider.slider-offers
	height: auto
body
	#bx-panel.bx-panel-fixed
		z-index: 9999!important

.b-menu.menu-main, .b-header
	z-index: 999

.b-page-info .info-wrap-fitness-phone .info-item
	position: relative

.b-container 
	.b-slider.slider-detail
		z-index: -1
		position: relative
		margin-top: 30px
		height: auto
		overflow: visible

		img
			width: 100%
			height: 100%
			object-fit: cover
			object-position: center
			border-radius: 8px

		.slider-item
			display: flex
			height: auto

		.slick
			&-list
				height: auto !important

			&-track
				display: flex
				height: auto !important

			&-slide
				margin: 0 20px
	.b-slider.slider-nav
		display: none
		
.b-container
	z-index: 99

.b-content .content-menu
	margin-top: 30px


.b-slider .slider-image
	position: relative

.b-content
	height: auto

.burger, .logo-mobile
	display: none
	
.b-detail .detail-info
	display: block

.detail-info
	hr 
		display: none


.back
	display: none

.slider-main
	.slick
		&-prev
			left: 25px
		&-next
			right: 25px

*, *:after, *:before
	box-sizing: border-box
	-webkit-tap-highlight-color: transparent
	tap-highlight-color: transparent

body
	background: url(/upload/images/bg.jpg) center center no-repeat;
	background-size: cover !important
	background-attachment: fixed !important

.body-bg
	background: none !important

.b-image
	&.image-proportional 
		padding: 0 !important

		.image-src
			position: static
			height: auto
			

	.image-link
		position: static
		display: block

.b-page-info 
	.info-wrap
		display: flex 
		justify-content: space-between
		align-items: center

	.info-item
		display: flex 
		flex-direction: column

	.image-src
		border-radius: 8px
		

.b-category

	&:not(.b-vacancy)

		.b-container
			display: flex
 
	.category-image
		float: none 

	&.category-page
		.category
			&-item
				padding: 0 !important

			&-image
				float: left
				width: 48%
.b-container__list
	display: flex 
	flex-wrap: wrap
	flex: 1 1 auto

.about
	.category-item
		display: flex
		flex-wrap: wrap
		margin: 0 0 -20px -20px


		.image
			&-src
				border-radius: 8px

			&-link 
				position: relative
				width: calc((100% - 20px * 2) / 2)
				margin: 0 0 20px 20px


		.image-overlay-holder
			display: flex;
			align-items: flex-end;
			justify-content: center;
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			font-size: 30px;
			line-height: 36px;
			margin-bottom: 10px;
			color: #fff
			padding: 1rem
			text-align: center
			line-height: 1
			text-shadow: 0 0 5px #000;
				

.page-content
	.b-container
		display: flex
		flex-direction: column


.catalog-room, .restaurant, .conference

	.b-container
		display: flex
		align-items: flex-start


	.category-item
		flex: 1 1 auto
		width: 100%

.catalog-room
	.b-container__list
		flex-direction: column


.category

	&-item
		padding: 40px 1.4rem !important
		align-items: flex-start
	&-image
		position: relative
		padding: 0
		width: auto
		flex: none
		margin-right: 10px
		width: auto
		flex: none
	

.image-overlay-holder
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	color: #fff
	padding: 1rem
	text-align: center
	text-shadow: 0 0 5px #000
	display: flex
	justify-content: center
	align-items: flex-end

.overlay
	&-text
		font-size: 14px

	&-title 
		font-size: 30px
		line-height: 36px
		margin-bottom: 10px
		

.image-src
	border-radius: 8px
	display: block
		

.offer-rooms
	.category
		&-item
			display: flex

		&-image
			position: relative
			padding: 0

	.category-detail-link
		display: none
		
img
	max-width: 100%

.b-category .new-offers
	display: flex 
	flex-wrap: wrap 
	margin: 0 0 -20px -20px

	.category-item
		width: calc((100% - 20px * 2) / 2)
		margin: 0 0 20px 20px

	> .b-container
		margin-top: 20px

	
.root-link
	cursor: pointer
	

.b-image.image-proportional
	height: auto

.footer_policy
	display: flex
	align-items: center
	justify-content: space-between
	width: 100%
	padding-bottom: 10px

	a
		color: #fff
		font-size: 12px

#block-search
	position: absolute
	left: 0
	width: 100%
	background: rgba(#000, .4)
	top: 80px
	z-index: 3

@import "_grid"
@import "media"