html
	height: initial !important

.js__page-places
	background-color: #13022C

	#block-search-inner
		display: none !important

	.b-content
		margin-bottom: 0


.b-content.page-restoran
	position: relative
	padding-top: 0
	// top: -23px
	z-index: 10

	// &:before
	// 	content: ''
	// 	display: block
	// 	position: absolute
	// 	top: 0
	// 	left: 0
	// 	right: 0
	// 	bottom: 0
	// 	z-index: 0
	// 	pointer-events: none
	// 	background-color: #13022C


.place-banner
	img
		width: 100%

	video
		width: 100%

.btn-cont
	display: flex
	justify-content: center
	padding: 40px 0

.title
	font-size: rem(32)
	margin-bottom: 30px

.halls
	margin: 50px 0

	&__item
		display: flex

		&:not(:first-child)
			margin-top: 30px

		&-img
			flex: none
			margin-right: 30px

			img
				border-radius: 5px

		&-title
			font-size: rem(22)
			margin-bottom: 20px

		&-bot
			display: flex
			justify-content: space-between
			margin-top: 15px

.stock
	margin: 50px 0

	&__list
		display: flex
		flex-wrap: wrap
		margin: 0 0 -30px -30px

	&__item
		width: calc((100% - 30px * 2) / 2)
		margin: 0 0 30px 30px

		img
			border-radius: 5px

		&-title
			font-size: rem(20)
			margin-bottom: 10px

		&-btn
			margin-top: 20px

.guests
	&__list
		margin: 0 -10px

	&__item
		position: relative
		margin: 0 10px

		&-info
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			display: flex
			align-items: flex-end
			padding: 25px
			color: #fff
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 66.15%, rgba(0, 0, 0, 0.18) 100%)


		img
			border-radius: 5px

.map-cont
	position: relative

	.map
		height: 500px

.map-info
	position: absolute
	left: 35px
	top: 50%
	transform: translate3d(0, -50%, 0)
	background-color: #fff
	padding: 64px 35px
	color: #000
	max-width: 330px

	> *
		&:not(:first-child)
			margin-top: 25px

@media (max-width: 1000px)
	
	.halls__item-img
		margin-right: 15px
		max-width: 285px

	.b-page .b-content.page-restoran:not(.b-booking-content)
		padding-top: 87px !important 

	.place-banner
		video
			margin: 0 -1.4rem
			width: 100vw

@media (max-width: 667px)

	.js__page-places
		overflow-x: hidden

		.slick-prev
			left: 0

		.slick-next
			right: 0

	// .b-content.page-restoran
	// 	top: -67px

	.b-page .b-content.page-restoran:not(.b-booking-content)
		padding-top: 80px !important
	
	.halls__item
		flex-direction: column


		&-img
			max-width: 100%
			margin: 0 0 20px 0

		&-bot
			flex-direction: column

			.preview-item + .b-button
				margin-top: 20px

	.stock__item
		width: 100%

	.map-info
		position: relative
		left: 0
		top: 0
		transform: none
		background-color: #fff
		padding: 25px
		max-width: 100%